body {
	text-align:left;
	overflow-x:hidden;
	margin: 0;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3350px;
	margin: auto;
	background-color:#e2004a;
	animation: filter-animation 120s infinite linear alternate;
}

#content:hover {
	cursor: pointer;
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(180deg);
  }
  
  100% {
    filter: hue-rotate(360deg);
  }
}

#name {
	position: absolute;
	width: 1200px;
	height: 300px;
	left: 50%;
	margin: 100px 0 0 -600px;
}

#names {
	position: absolute;
	left: 0;
}

#namep {
	position: absolute;
	left: 260px;
}

#nameo {
	position: absolute;
	left: 450px;
}

#namet {
	position: absolute;
	left: 750px;
}

#namehyphen {
	position: absolute;
	left: 1100px;
}

#namel {
	position: absolute;
	top: 300px;
}

#namei {
	position: absolute;
	top: 300px;
	left: 240px;
}

#nameg {
	position: absolute;
	top: 300px;
	left: 360px;
}

#nameh {
	position: absolute;
	top: 300px;
	left: 700px;
}

#namet2 {
	position: absolute;
	top: 300px;
	left: 1000px;
}




#letters {
	position: absolute;
	width: 1200px;
	height: 300px;
	left: 50%;
	margin: 900px 0 0 -600px;
}


#a {
	position: absolute;
	left: 0px;
}


#b {
	position: absolute;
	left: 265px;
}

#c {
	position: absolute;
	left: 390px;
}

#d {
	position: absolute;
	left: 580px;
}

#e {
	position: absolute;
	left: 740px;
}

#f {
	position: absolute;
	left: 970px;
}

#g {
	position: absolute;
	left: 0px;
	top: 300px;
}

#h {
	position: absolute;
	left: 310px;
	top: 300px;
}

#i {
	position: absolute;
	left: 640px;
	top: 300px;
}

#j {
	position: absolute;
	left: 750px;
	top: 300px;
}

#k {
	position: absolute;
	left: 1080px;
	top: 300px;
}

#l {
	position: absolute;
	left: 0px;
	top: 600px;
}

#m {
	position: absolute;
	left: 200px;
	top: 600px;
}

#n {
	position: absolute;
	left: 570px;
	top: 600px;
}

#o {
	position: absolute;
	left: 850px;
	top: 600px;
}

#p {
	position: absolute;
	left: 1145px;
	top: 600px;
}

#q {
	position: absolute;
	top: 900px;
}

#r {
	position: absolute;
	left: 335px;
	top: 900px;
}

#s {
	position: absolute;
	left: 515px;
	top: 900px;
}

#t {
	position: absolute;
	left: 705px;
	top: 900px;
}

#u {
	position: absolute;
	left: 1000px;
	top: 900px;
}

#v {
	position: absolute;
	top: 1200px;
}

#w {
	position: absolute;
	left: 230px;
	top: 1200px;
}

#x {
	position: absolute;
	left: 560px;
	top: 1200px;
}

#y {
	position: absolute;
	left: 715px;
	top: 1200px;
}

#z {
	position: absolute;
	left: 965px;
	top: 1200px;
}

#un {
	position: absolute;
	top: 1500px;
}

#deux {
	position: absolute;
	left: 100px;
	top: 1500px;
}

#trois {
	position: absolute;
	left: 430px;
	top: 1500px;
}

#quatre {
	position: absolute;
	left: 510px;
	top: 1500px;
}

#cinq {
	position: absolute;
	left: 765px;
	top: 1500px;
}

#six {
	position: absolute;
	left: 1085px;
	top: 1500px;
}

#sept {
	position: absolute;
	top: 1800px;
}

#huit {
	position: absolute;
	left: 310px;
	top: 1800px;
}

#neuf {
	position: absolute;
	left: 515px;
	top: 1800px;
}


/*-------SHAPES-------*/

.triangle1 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #ffbc00;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	transition: all 600ms;
}
.triangle2 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 0;
	border-color: #ffbc00 transparent transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	transition: all 600ms;
}
.triangle3 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 0 0 120px;
	border-color: transparent transparent transparent #00bedd;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 95px;
	transition: all 600ms;
}
.triangle4 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #00bedd;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	transition: all 600ms;
}
.triangle5 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 0 0 200px;
	border-color: transparent transparent transparent #ffbc00;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 100px;
	transition: all 600ms;
}
.triangle6 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 0 0 120px;
	border-color: transparent transparent transparent #ffbc00;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 95px;
	transition: all 600ms;
}
.triangle7 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #00bedd transparent transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	transition: all 600ms;
}
.triangle8 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #ffbc00 transparent transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	transition: all 600ms;
}
.triangle9 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: #00bedd transparent transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 100px;
	transition: all 600ms;
}
.triangle10 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 200px 0 0;
	border-color: transparent #00bedd transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 0;
	transition: all 600ms;
}
.triangle11 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 120px 120px 0;
	border-color: transparent #ffbc00 transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 80px;
	transition: all 600ms;
}
.triangle12 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 0;
	border-color: #ffbc00 transparent transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 120px;
	transition: all 600ms;
}
.triangle13 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 0;
	border-color: transparent #00bedd transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 95px;
	transition: all 600ms;
}
.triangle14 {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 120px 120px 0 0;
	border-color: transparent #00bedd transparent transparent;
	mix-blend-mode:color-dodge;
	position: absolute;
	top: 15px;
	left: 80px;
	transition: all 600ms;
}

.line1 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 0;
	top: 0;
	z-index:3;
}
.line2 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 130px;
	left: 0;
	top: 110px;
	z-index:2;
}
.line3 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 130px;
	left: 100px;
	top: 110px;
	z-index:2;
}
.line4 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 230px;
	left: 0px;
	top: 15px;
	z-index:2;
}
.line5 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 230px;
	left: 0px;
	top: 110px;
	z-index:2;
}
.line6 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 200;
	top: 0;
	z-index:2;
}
.line7 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 130px;
	left: 0px;
	top: 215px;
	z-index:2;
}
.line8 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 100;
	top: 0;
	z-index:2;
}
.line9 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 130px;
	left: 100px;
	top: 215px;
	z-index:2;
}
.line10 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 55px;
	top: 0;
	z-index:2;
}
.line11 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 100px;
	top: 0;
	z-index:2;
}
.line12 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 120px;
	top: 0;
	z-index:2;
}
.line13 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 240px;
	left: 110px;
	top: 0;
	z-index:2;
}
.line14 {
	position: absolute;
	border-left: 2px solid #ffffff;
	height: 130px;
	left: 200;
	top: 0;
	z-index:2;
}
.line15 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 230px;
	left: 0px;
	top: 215px;
	z-index:2;
}
.line16 {
	position: absolute;
	border-bottom: 2px solid #ffffff;
	width: 130px;
	left: 100px;
	top: 15px;
	z-index:2;
}


.halfcircle1{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
	transition: all 600ms;
}
.halfcircle2{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 0;
    top: 105px;
    mix-blend-mode:color-dodge;
	transition: all 600ms;
}

.halfcircle3{
	height: 200px;
    width: 100px;
    border-radius: 100px 0 0 100px;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}

.halfcircle4{
	height: 200px;
    width: 100px;
    border-radius: 0 100px 100px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle5{
	height: 100px;
    width: 200px;
    border-radius: 0 0 100px 100px;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 115px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle6{
	height: 110px;
    width: 55px;
    border-radius: 55px 0 0 55px;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle7{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 55px;
    top: 105px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle8{
	height: 100px;
    width: 200px;
    border-radius: 0 0 100px 100px;
    background-color: #ffbc00;
    position: absolute;
    left: 0;
    top: 115px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle9{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 120px;
    top: 15px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.halfcircle10{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 100px;
    top: 105px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}


.circle1{
	height: 200px;
	width: 200px;
	border-radius: 100px 100px 100px 100px;
	background-color: #00bedd;
	position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode: color-dodge;
    transition: all 600ms;
}
.circle2{
	height: 200px;
	width: 200px;
	border-radius: 100px 100px 100px 100px;
	background-color: #ffbc00;
	position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode: color-dodge;
    transition: all 600ms;
}
.circle3{
	height: 110px;
	width: 110px;
	border-radius: 55px 55px 55px 55px;
	background-color: #00bedd;
	position: absolute;
    left: 0;
    top: 105px;
    mix-blend-mode: color-dodge;
    transition: all 600ms;
}
.circle4{
	height: 110px;
	width: 110px;
	border-radius: 55px 55px 55px 55px;
	background-color: #00bedd;
	position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}
.circle5{
	height: 110px;
	width: 110px;
	border-radius: 55px 55px 55px 55px;
	background-color: #ffbc00;
	position: absolute;
    left: 0;
    top: 105px;
    mix-blend-mode:color-dodge;
    transition: all 600ms;
}



/*-------EFFECTS-------*/


.huerotate {
	filter: hue-rotate(90deg);
}

.aselected {
	transform: scale(3.5);
	transition: all 600ms;
}

.bselected1 {
	transform: skewY(20deg);
	top: 380px;
	width: 2000px;
	transition: all 600ms;
}

.bselected2 {
	transform: skewY(-20deg);
	top: -257px;
	width: 2000px;
	transition: all 600ms;
}

.cselected {
	transform: scale(2);
	transform-origin: bottom right;
	border-radius: 100px 100px 100px 100px;
	width: 200px;
	transition: all 600ms;
}

.dselected {
	transform-origin: top left;
	border-radius: 100px 100px 100px 100px;
	width: 200px;
	transition: all 600ms;
}

.eselected {
	transform: scale(2.75);
	transform-origin: center left;
	border-radius: 100px 100px 100px 100px;
	width: 200px;
	transition: all 600ms;
}

.gselected {
	transform: scale(2);
	transform-origin: top right;
	transition: all 600ms;
}

.hselected {
	transform: scale(2);
	transform-origin: top right;
	border-radius: 100px 100px 100px 100px;
	width: 200px;
	transition: all 600ms;
}

.jselected {
	transform: scale(.5);
	border-radius: 200px 200px 200px 200px;
	height: 200px;
	transition: all 600ms;
}

.kselected1 {
	transform: scale(6);
	transform-origin: center left;
	transition: all 600ms;
	top: -204px;
}

.kselected2 {
	transform: scale(4);
	transform-origin: center left;
	transition: all 600ms;
	top: 193px;
}

.mselected2 {
	transform: scale(3);
	transform-origin: bottom left;
	transition: all 600ms;
}

.mselected1 {
	transform: scale(2);
	transform-origin: bottom left;
	transition: all 600ms;
}

.nselected {
	transform: scale(2);
	transition: all 600ms;
}

.oselected {
	transform: scale(1.5);
	transition: all 600ms;
}

.qselected {
	transform: scale(.5);
	transform-origin: bottom left;
	transition: all 600ms;
}


.rselected1 {
	transform: skewY(-20deg);
	top: -348px;
	width: 2000px;
	transition: all 600ms;
}
.rselected2 {
	transform: scale(1.5);
	transform-origin: top left;
	transition: all 600ms;
}

.sselected {
	transform: skewY(-20deg);
	top: 380px;
	left: -1945px;
	width: 2000px;
	transition: all 600ms;
}

.uselected {
	transform-origin: top left;
	border-radius: 100px 100px 100px 100px;
	height: 200px;
	transition: all 600ms;
}

.wselected2 {
	transform: scale(2);
	transform-origin: top left;
	transition: all 600ms;
}

.wselected1 {
	transform: scale(1.5);
	transform-origin: top left;
	transition: all 600ms;
}

.xselected1 {
	transform: scale(.75);
	transition: all 600ms;
}

.xselected2 {
	transform: scale(.5);
	transition: all 600ms;
	top: 40px;
	left: 25px;
}

.yselected {
	transform: scale(.5);
	transform-origin: top right;
}

.zselected1 {
	transform: scale(3);
	transform-origin: bottom left;
}

.zselected2 {
	transform: scale(3);
	transform-origin: top right;
}

.quatreselected {
	transform: scale(.75);
	transform-origin: top right;
	transition: all 600ms;
}

.sixselected {
	transform: scale(2.75);
	transform-origin: center left;
	transition: all 600ms;
}

.huitselected1 {
	transform: scale(3);
	transform-origin: bottom right;
	transition: all 600ms;
}
.huitselected2 {
	transform: scale(4);
	transform-origin: center right;
	transition: all 600ms;
}

.neufselected {
	transform: scale(2.5);
	transform-origin: center right;
	transition: all 600ms;
}



/*-----ORIGINAL BIG CIRCLES------
.lb2selected1 {
	transform: scale(8);
	transform-origin: top right;
	border-radius: 55px 55px 55px 55px;
	width: 110px;
	transition: all 300ms;
}


.lb2selected2 {
	transform: scale(6);
	transform-origin: bottom left;
	border-radius: 55px 55px 55px 55px;
	width: 110px;
	transition: all 300ms;
}
*/

.animate {
	top:-100px;
	transition: all 300ms;
}
.lb3selected1 {
	top:0px;
	transition: all 300ms;
}

.lb3selected2 {
	top:130px;
	transition: all 300ms;
}

.rotate {
	animation:spin 10s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }












