body {
	text-align:left;
	background-color:#e20026;
	overflow-x:hidden;
}
body.on {
	background-color:#ffffff;
}
#content {
	position: absolute;
	left: 50px;
	top: 50px;
	height: 3000px;
	transition: all 300ms;
}
#content:hover {
	cursor: pointer;
}

#letterbox1 {
	position: absolute;
	left: 20px;
	top: 20px;
	transition: all 300ms;
}
#letterbox2 {
	position: absolute;
	left: 180px;
	top: 20px;
}
#letterbox3 {
	position: absolute;
	left: 340px;
	top: 20px;
	transition: all 300ms;
}
#letterbox4 {
	position: absolute;
	left: 500px;
	top: 20px;
	transition: all 300ms;
}
#letterbox5 {
	position: absolute;
	left: 660px;
	top: 20px;
	transition: all 300ms;
}
#letterbox6 {
	position: absolute;
	left: 820px;
	top: 20px;
	transition: all 300ms;
}
#letterbox7 {
	position: absolute;
	left: 980px;
	top: 20px;
	transition: all 300ms;
}
#letterbox8 {
	position: absolute;
	left: 1140px;
	top: 20px;
	transition: all 300ms;
}
#letterbox9 {
	position: absolute;
	left: 20px;
	top: 300px;
	transition: all 300ms;
}
#letterbox10 {
	position: absolute;
	left: 180px;
	top: 300px;
	transition: all 300ms;
}
#letterbox11 {
	position: absolute;
	left: 340px;
	top: 300px;
	transition: all 300ms;
}
#letterbox12 {
	position: absolute;
	left: 500px;
	top: 300px;
}
#letterbox13 {
	position: absolute;
	left: 660px;
	top: 300px;
	transition: all 300ms;
}
#letterbox14 {
	position: absolute;
	left: 820px;
	top: 300px;
	transition: all 300ms;
}
#letterbox15 {
	position: absolute;
	left: 980px;
	top: 300px;
	transition: all 300ms;
}
#letterbox16 {
	position: absolute;
	left: 1140px;
	top: 300px;
	transition: all 300ms;
}
#letterbox17 {
	position: absolute;
	left: 20px;
	top: 580px;
	transition: all 300ms;
}
#letterbox18 {
	position: absolute;
	left: 180px;
	top: 580px;
	transition: all 300ms;
}
#letterbox19 {
	position: absolute;
	left: 340px;
	top: 580px;
	transition: all 300ms;
}
#letterbox20 {
	position: absolute;
	left: 500px;
	top: 580px;
	transition: all 300ms;
}
#letterbox21 {
	position: absolute;
	left: 660px;
	top: 580px;
	transition: all 300ms;
}
#letterbox22 {
	position: absolute;
	left: 820px;
	top: 580px;
	transition: all 300ms;
}
#letterbox23 {
	position: absolute;
	left: 980px;
	top: 580px;
	transition: all 300ms;
}
#letterbox24 {
	position: absolute;
	left: 1140px;
	top: 580px;
	transition: all 300ms;
}
#letterbox25 {
	position: absolute;
	left: 20px;
	top: 860px;
}
#letterbox26 {
	position: absolute;
	left: 180px;
	top: 860px;
	transition: all 300ms;
}
#letterbox27 {
	position: absolute;
	left: 340px;
	top: 860px;
	transition: all 300ms;
}
#letterbox28 {
	position: absolute;
	left: 500px;
	top: 860px;
	transition: all 300ms;
}
#letterbox29 {
	position: absolute;
	left: 660px;
	top: 860px;
	transition: all 300ms;
}
#letterbox30 {
	position: absolute;
	left: 820px;
	top: 860px;
	transition: all 300ms;
}
#letterbox31 {
	position: absolute;
	left: 980px;
	top: 860px;
	transition: all 300ms;
}
#letterbox32 {
	position: absolute;
	left: 1140px;
	top: 860px;
	transition: all 300ms;
}
#letterbox33 {
	position: absolute;
	left: 20px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox34 {
	position: absolute;
	left: 180px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox35 {
	position: absolute;
	left: 340px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox36 {
	position: absolute;
	left: 500px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox37 {
	position: absolute;
	left: 660px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox38 {
	position: absolute;
	left: 820px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox39 {
	position: absolute;
	left: 980px;
	top: 1140px;
	transition: all 300ms;
}
#letterbox40 {
	position: absolute;
	left: 1140px;
	top: 1140px;
}
#letterbox41 {
	position: absolute;
	left: 20px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox42 {
	position: absolute;
	left: 180px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox43 {
	position: absolute;
	left: 340px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox44 {
	position: absolute;
	left: 500px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox45 {
	position: absolute;
	left: 660px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox46 {
	position: absolute;
	left: 820px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox47 {
	position: absolute;
	left: 980px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox48 {
	position: absolute;
	left: 1140px;
	top: 1420px;
	transition: all 300ms;
}
#letterbox49 {
	position: absolute;
	left: 20px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox50 {
	position: absolute;
	left: 180px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox51 {
	position: absolute;
	left: 340px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox512 {
	position: absolute;
	left: 340px;
	top: 1700px;
	display: none;
	transition: none;
}
#letterbox52 {
	position: absolute;
	left: 500px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox53 {
	position: absolute;
	left: 660px;
	top: 1700px;
	transition: all 300ms;
}

#letterbox53:hover {
	cursor: move;
}

#letterbox54 {
	position: absolute;
	left: 820px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox55 {
	position: absolute;
	left: 980px;
	top: 1700px;
	transition: all 300ms;
}
#letterbox56 {
	position: absolute;
	left: 1140px;
	top: 1700px;
	transition: all 300ms;
}

#letterbox57 {
	position: absolute;
	left: 20px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox58 {
	position: absolute;
	left: 180px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox59 {
	position: absolute;
	left: 340px;
	top: 1980px;
	width: 60px;
	height: 200px;
	transition: all 300ms;
}

#letterbox60 {
	position: absolute;
	left: 500px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox61 {
	position: absolute;
	left: 660px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox62 {
	position: absolute;
	left: 820px;
	top: 1980px;
	transition: all 300ms;
}


#letterbox63 {
	position: absolute;
	left: 980px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox64 {
	position: absolute;
	left: 1140px;
	top: 1980px;
	transition: all 300ms;
}

#letterbox65 {
	position: absolute;
	left: 20px;
	top: 2260px;
	transition: all 300ms;
}

#letterbox66 {
	position: absolute;
	left: 180px;
	top: 2260px;
	transition: all 300ms;
}


#letterbox67 {
	position: absolute;
	left: 340px;
	top: 2260px;
	transition: all 300ms;
}

#letterbox68 {
	position: absolute;
	left: 500px;
	top: 2260px;
	transition: all 300ms;
}
#letterbox69 {
	position: absolute;
	left: 660px;
	top: 2260px;
	transition: all 300ms;
}
#letterbox70 {
	position: absolute;
	left: 820px;
	top: 2260px;
	transition: all 300ms;
}
#letterbox71 {
	position: absolute;
	left: 980px;
	top: 2260px;
	transition: all 300ms;
}
#letterbox72 {
	position: absolute;
	left: 1140px;
	top: 2260px;
	transition: all 300ms;
}
#letterbox73 {
	position: absolute;
	left: 20px;
	top: 2540px;
	transition: all 300ms;
}
#letterbox74 {
	position: absolute;
	left: 180px;
	top: 2540px;
	transition: all 300ms;
}
#letterbox75 {
	position: absolute;
	left: 340px;
	top: 2540px;
	transition: all 300ms;
}

.line1 {
	position: absolute;
	border-left: 3px solid #ffffff;
	height: 240px;
	left: 0;
	top: 0;
	z-index:2;
}

.halfcircle1{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
}

.halfcircle2{
	height: 110px;
    width: 55px;
    border-radius: 0 55px 55px 0;
    background-color: #ffbc00;
    position: absolute;
    left: 0;
    top: 105px;
    mix-blend-mode:color-dodge;
}

.circle1{
	height: 110px;
    width: 110px;
    border-radius: 55px;
    background-color: #00bedd;
    position: absolute;
    left: 0;
    top: 15px;
    mix-blend-mode:color-dodge;
    background-color:transparent;
}

.thenperish{
	background-image:url('https://i.kym-cdn.com/photos/images/original/001/342/448/526.jpg');
	width:300px;
	height:163px;
	background-size:contain;
	position:absolute;
	left: 0;
	top: 15px;
	opacity:0;
}

#letterbox1 .halfcircle1:hover, #letterbox1 .halfcircle2:hover{
	background-color:#ffffff;
}

#letterbox1 .halfcircle1, #letterbox1 .halfcircle2{
	transition: all 300ms;
}

#letterbox2 .halfcircle1, #letterbox2 .halfcircle2{
	transition: all 300ms;
}

.lb2selected {
	background-color:#ffffff;
}

#letterbox7 .halfcircle1:hover, #letterbox7 .halfcircle2:hover {
	border:3px solid #ffffff;
	background-color:transparent;
}

.lb8selected1 {
	background-color: #ffbc00;
}
.lb8selected2 {
	background-color: #00bedd;
}

.lb10selected {
	border-width:55px;
}

#letterbox10 .line1 {
	transition: all 300ms;
}

.lb11selected {
	mix-blend-mode: multiply;
}

.lb12selected {
	transform:rotate(180deg);
}

.lb13selected {
	transform:rotate(360deg);
}

#letterbox13 .line1 {
	transition: all 300ms;
}

.lb14selected {
	transform: scalex(-1);
}

.lb15selected {
	opacity: 0;
}

.lb16selected {
	opacity: 0;
}


.lb18selected1 {
	top:-1000px;
}

.lb18selected2 {
	top:-1000px;
	height:1240px;
}

#letterbox18 .line1, #letterbox18 .halfcircle1 {
	transition: all 500ms;
}

.lb23selected {
	left: 500px;
	background-color: #00bedd;
}

#letterbox23 .circle1 {
	transition: opacity 0s, left 500ms;
}

.lb24selected {
	border:3px solid #ffffff;
	background-color: transparent;
}

#letterbox26 .thenperish:hover{
	opacity:1;
}
.thenperish {
	transition: 2s;
}

.lb27selected {
	transform: skewY(20deg);
}

.lb28selected1 {
	transform: skewY(20deg);
	top: 25px;
}

.lb28selected2 {
	transform: skewY(-20deg);
	top: 95px;
}

.lb29selected1 {
	transform: skewY(20deg);
	top: 200px;
	width: 1000px;
}

.lb29selected2 {
	transform: skewY(-20deg);
	top: -80px;
	width: 1000px;
}

#letterbox29 .halfcircle1, #letterbox29 .halfcircle2 {
	transition: 500ms;
}

#letterbox32:hover {
	transform: scale(2);
}

#letterbox32 {
	transition: 500ms;
}

#letterbox33:hover {
	transform: scale(.5);
}


.lb34selected1 {
	background-color: #a80923;
}

.lb34selected2 {
	border: 2px solid #a80923;
}

#letterbox36:hover {
	transform: rotate(-45deg);
}

.lb40selected1 {
	background-color: #57db1f;
}

.lb40selected2 {
	background-color: #fd2ccc;
}

.lb40selected3 {
	background-color: #5c0bdf;
}

.lb42selected {
	transform: rotate3d(0, 1, 0, 360deg);
}


#content:hover > #letterbox45 {
	opacity: .5;
}
#content:hover > #letterbox45:hover {
  opacity: 1.0;
}

.lb47selected {
	transform: scale(1.2);
}

.lb48selected {
	transform: rotate(20deg);
}
.lb49selected {
	width: 300px;
}

.lb52selected1 {
	top: 30px;
	opacity: 1;
}

.lb54selected {
	top:105px;
	height: 20px;
	border-width: 500px;
	transition: all 300ms;
}

.lb55selected {
	animation:spin 2s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.lb56selected {
	animation:spin 10s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.lb57selected {
	visibility: hidden;
}

.lb58selected1 {
	top:0px;
	transition: all 300ms;
}

.lb58selected2 {
	top:130px;
	transition: all 300ms;
}

.lb59selected1 {
	transform: scale(8);
	transform-origin: top right;
	border-radius: 55px 55px 55px 55px;
	width: 110px;
	transition: all 300ms;
}


.lb59selected2 {
	transform: scale(8);
	transform-origin: bottom left;
	border-radius: 55px 55px 55px 55px;
	width: 110px;
	transition: all 300ms;
}

.lb60selected {
	background-color:#ffffff;
}

.lb62selected {
	transform: scale(3);
	border-radius: 55px 55px 55px 55px;
	width: 110px;
}

.lb65selected {
	border: 2px solid #00bedd;
}

.lb66selected1 {
	transform: skewY(20deg);
	top: 120px;
	transition: all 300ms;
}

.lb66selected2 {
	transform: skewY(-20deg);
	top: -80px;
	transition: all 300ms;
}

.lb69selected {
	top: -280px;
	transition: all 300ms;
}

.lb70selected {
	left: -20px;
	border: 10px solid #ffffff;
	transition: all 300ms;
}

.lb72selected {
	opacity: 0;
	transition: all 300ms;
}













